/* CSS HEX */
/* --dolphin: #696578;
--bone: #e1d2bd;
--santas-gray: #a09daa;
--antique-brass: #cc9977;
--mountbatten-pink: #9c828b;
--rock-blue: #a2b0c7;
--oxford-blue: #313f4f;
--old-copper: #6f3d2b;
--manatee: #918aa4;
--blackcurrant: #382a41;
 */

* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-image: url("../../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.logo-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 500px;
    width: auto;
    padding: 16px;
    /* border: 4px solid indigo; */
    background-color: rgba(255, 255, 255, 0.35);
}

.welcome-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* border: 4px solid indigo; */
    padding: 16px;
}

.welcome-text p {
    font-size: 20px;
}

.logo-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 90px;
    padding: 16px;
    /* border: 4px solid indigo; */

}

.logo-img {
    width: 300px;
    height: auto;
    opacity: 1.0;
    /* border: 4px solid darkslategray; */

}

.logo-img img {
    transition: all 1s ease;
}

.logo-img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
/*     transition: 1s ease; */
}
